<head>
    <meta charset=utf8>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<link rel='stylesheet' type='text/css' href='http://libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css' />
	<link rel='stylesheet' type='text/css' href='/static/style/color.css' />
	<title>拼眼力--你能走几步</title>
    <script src="http://libs.useso.com/js/jquery/1.9.1/jquery.min.js"></script>
	<script src="/static/js/color.js"></script>
</head>
<body>
    <div id="blocks">
        <div id="stepper">1</div>

    </div>
    <div id="result">
		<div id="grade"></div>
		<div id="ranks">
		</div>
		<div><button id="replay" class="btn btn-lg btn-success">再来一次</button></div>
    </div>
</body>
