<head>
	<meta charset=utf8>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<title>穷乐网－－给你带来无穷乐趣</title>
	<link rel='stylesheet' type='text/css' href='http://libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css' />
</head>
<body>
    <div class="row">
        <div class="col-md-2">
	        <a class="btn btn-link" href="/color"><img class="img-responsive img-rounded" src="/static/images/color.jpg"/>拼眼力</a>
        </div>
    </div>
</body>
