<head>
    <meta charset=utf8>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<link rel='stylesheet' type='text/css' href='http://libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css' />
    <script src="http://libs.useso.com/js/jquery/1.9.1/jquery.min.js"></script>
	<script>
	$(document).ready(function {
	});
	</script>
	<style>
		body {
			max-width: 640px;
		}
		#arena {
			width: 100%;
		}
		#stage {
			width: 20%;
			margin:0 auto;
			background-color: green;
			font-size: 4em;
			text-align: center;
			border-radius: 5px;
		}
		.block {
			width: 100%;
			margin: 0 auto;
		}
	</style>
</head>
<body>
    <div id="arena">
        <div id="stepper">1</div>
		<div id="stage">
			<div id="block0" class="block"></div>
			<div id="block1" class="block"></div>
			<div id="block2" class="block"></div>
			<div id="block3" class="block"></div>
		</div>
		<div id="question"></div>
    </div>
</body>
